.root {
    --primary-color: #000000;
    --light-primary: #72706E;
    --lightest-color: #FFFFFF;
    --secondary-color: #132c6e;
    --light-secondary: #318ED5;

    /*TONS DE VERDE*/
    --darkest-green: #1F8F00;
    --less-dark-green: #28B800;
    --normal-green: #31E000;
    --lighter-green: #3FFF0A;
    --lightest-green: #5FFF33;

    /*TONS DE VERMLHO*/
    --red1: #8d0101;
    --red2: #B60202;
    --red3: #de0202;
    --red4: #f90202;
    --red5: #fd3535;
}



/*BODY*/
body {
    width: 100%;
    max-width: 100vw;
    margin: 0;

    font-family: 'Oswald', sans-serif;
}



/*HEADER*/
header {
    display: flex;

    background-color: black;

    width: 100%;
    max-width: 100vw;
    height: 4vw;

    align-items: center;
    justify-content: center;
}

    #id-logoMCO {
        width: 8vw;
    }



/*MAIN*/
main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100vw;
}



/*MENU PRINCIPAL*/
.class-MenuPrincipal {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 100vw;

    justify-content: space-between
}

    .class-botaoMenuPrincipal {
        /*background-color: #dbdbdb;*/
        background: linear-gradient(to top, #dbdbdb, hwb(0 55% 45%));

        width: 100%;
        border: none;
        border-left: 0.1vw solid;
        border-right: 0.1vw solid;
        border-bottom: 0.2vw solid;

        align-items: center;
        justify-content: center;

        font-family: 'Oswald', sans-serif;
        font-size: 1.5vw;
        text-align: center;

        cursor: pointer;
    }
        .class-botaoMenuPrincipal:hover {
            /*background-color: hsl(0, 0%, 71%);*/
            background: linear-gradient(to top, #b9b9b9, rgb(97, 97, 97));
        }

        #id-botaoEmBreve {
            font-style: italic;
            cursor: not-allowed;
        }

            



/*CONTEÚDO DA PÁGINA*/
/*NOME DO CLUBE*/
#clubeInfo {
    display: flex;
    flex-direction: row;

    background: radial-gradient(circle at center, white, rgb(0, 0, 165));

    justify-content: center;

    width: 100%;

    padding-top: 1vw;
    padding-bottom: 1vw;

    text-align: center;
    font-size: 5vw;
}

    .logoClube {
        height: 10vw;
        
        align-items: center;
        justify-content: center;
    }

    .class-clubeSelecionado {
        display: flex;

        margin: 0;
        margin-left: 1vw;

        align-items: center;

        font-size: 5vw;
    }







/*MENU DO CLUBE*/
.class-menuClube {
    display: flex;
    flex-direction: row;

    
    width: 100%;

    justify-content: space-between
}

    .class-botaoMenuClube {
        /*background-color: #dbdbdb;*/

        width: 100%;
        border: 0.1vw solid;
        border-bottom: 0.2vw solid;

        align-items: center;
        justify-content: center;

        font-family: 'Oswald', sans-serif;
        font-size: 1.5vw;
        text-align: center;

        cursor: pointer;
    }
        .class-botaoMenuClube:hover {
            background-color: #dbdbdb
        }

        /*#id-botaoEmBreve-2 {
            
        }*/

            #id-botaoElenco {
                /*background-color: hsl(0, 0%, 71%);*/
                border-bottom: 0.2vw solid blue;
            }



/*TEMPORADA ATUAL*/
#id-temporadaAtual {
    font-size: 2vw;
}



/*TABELA DE ELENCO*/
#elenco-table {
    margin-top: 0vw;
    border-collapse: collapse;
    width: 90vw;
    max-width: 90vw;
    border-left: 0.1vw solid black;
    border-right: 0.1vw solid black;

    font-size: 1vw;
}
    /* Estilo do cabeçalho da tabela */
    #elenco-table thead {
        background-color: rgb(28, 46, 91); /* Cor de fundo do cabeçalho */
        color: #fff; /* Cor do texto do cabeçalho */
    }

    #elenco-table thead th {
        border: 0.1vw solid #000; /* Borda para as células do cabeçalho */
        padding: 0.5vw; /* Espaçamento interno das células */
    }

    /* Estilo das células da tabela */
    #elenco-table tbody td {
        border: none;
        border-bottom: 0.1vw solid #000; /* Borda para as células do corpo da tabela */
        padding: 0.5vw; /* Espaçamento interno das células */

        text-align: center;
    }

    /* Estilizar a primeira linha do corpo da tabela (talvez adicione cores diferentes para linhas alternadas) */
    #elenco-table tbody tr {
        background-color: white; /* Cor de fundo para linhas pares */
    }

        /*Coluna do pace*/
        .class-colunaPace {
            background: linear-gradient(to left, gray, white);
        }

        /*Coluna do clube*/
        #id-colunaClube {
            display: none;
        }

        /*Coluna da posição*/
        .class-GK {
            background: linear-gradient(to right, orange, rgb(255, 228, 176));
        }

        .class-DEF {
            background: linear-gradient(to right, rgb(255, 225, 0), rgb(255, 255, 174));
        }

        .class-MID {
            background: linear-gradient(to right, green, rgb(93, 199, 93));
        }

        .class-ATA {
            background: linear-gradient(to right, rgb(14, 65, 147), rgb(102, 161, 255));
        }

        /*Coluna do OVR*/
        .class-bronze {
            color: rgb(167, 90, 32);
            font-weight: bold;
        }

        .class-silver {
            color: rgb(149, 149, 149);
            font-weight: bold;
        }

        .class-gold {
            color: rgb(220, 187, 0);
            font-weight: bold;
        }

        



/*ALTERAÇÕES NO ELENCO*/
.class-alteraçoesElenco {
    display: flex;
    flex-direction: column;

    background: radial-gradient(circle at center, rgb(158, 158, 158), rgb(221, 221, 221));

    width: 45vw;
    margin-top: 2vw;
    border-radius: 2vw;

    justify-content: center;
    align-items: center;

    text-align: center;
}
    .class-alteraçoesElenco p {
        margin-bottom: 0.7vw;

        font-size: 1.7vw;
        font-weight: bold;
    }

        .class-botoesAlteraçoesElenco {
            display: flex;
            flex-direction: column;

            width: 90vw;

            align-items: center;
        }

            .class-botaoAlteraçaoElenco{
                width: 15vw;
                border-radius: 0.8vw;
                border: solid 0.1vw;

                font-size: 1vw;
                font-family: 'Oswald', sans-serif;

                cursor: pointer;
            }

                #id-adiçaoRemoçaoJogadoresElenco {
                    display: flex;

                    justify-content: space-evenly;

                    width: 40vw;
                    margin-top: 1vw;
                }

                    #id-botaoAdicionarJogadorElenco {
                        background: linear-gradient(to right, #28B800, #31E000);
                    }
                        #id-botaoAdicionarJogadorElenco:hover {
                            background: linear-gradient(to right, hsl(107, 100%, 31%), hsl(107, 100%, 39%));
                        }

                    #id-botaoMudarPosiçaoJogadorElenco {
                        background: linear-gradient(to right, hwb(0 82% 18%), hwb(0 90% 10%));
                    }
                        #id-botaoMudarPosiçaoJogadorElenco:hover {
                            background: linear-gradient(to right, #aaaaaa, rgb(207, 207, 207));
                        }

                    #id-botaoRemoverJogadorElenco {
                        background: linear-gradient(to right, hsl(0, 98%, 25%), hwb(0 0% 28%));
                    }
                        #id-botaoRemoverJogadorElenco:hover {
                            background: linear-gradient(to right, rgb(87, 0, 0), rgb(129, 0, 0));
                        }

        .class-pesquisaJogador {
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            margin-bottom: 3vw;

            text-align: center;
        }

            #id-input {
                width: 23vw;
                margin-top: 1vw;
                margin-right: 18vw;
                        
                font-size: 1vw;
                text-align: center;

                font-size: 1vw;
                font-family: 'Oswald', sans-serif;
            }
            
            #suggestions {
                display: flex;

                background-color: #dbdbdb;
                
                margin-right: 18vw;
                border-left: solid 0.1vw;
                border-bottom: solid 0.1vw;
                border-right: solid 0.1vw;
                width: 23vw;
                max-height: 10vw;
                border-bottom-right-radius: 0.5vw;
                border-bottom-left-radius: 0.5vw;

                text-align: center;
                font-size: 1.5vw;
                
                overflow-y: auto;
                cursor: pointer;
            }
                #suggestions p {
                    margin: 0vw;

                    font-size: 1.3vw;
                }
                    #suggestions p:hover {
                        background-color: hsl(0, 0%, 71%);
                    }

#elenco-table tbody tr {
    cursor: pointer;
}
    #elenco-table tbody tr:hover {
        background: radial-gradient(circle at center,hwb(0 88% 12%), white);
    }



/*INSTRUÇÃO DE MUDANÇA DE POSIÇÃO E EXCLUSÃO DE JOGADOR*/
#instrucao-mudança-posiçao {
    background: radial-gradient(circle at center, #318ED5, #3d5fbc);

    position: fixed;
    top: 1vw;

    padding: 1vw;
    border-radius: 1vw;
    

    font-size: 3vw;
}

.position-change-modal {
    background-color: red;
}

#instrucao-remocao {
    background: radial-gradient(circle at center, #318ED5, #3d5fbc);

    position: fixed;
    top: 1vw;

    padding: 1vw;
    border-radius: 1vw;

    font-size: 3vw;
}



/*MODAL DE CONFIRMAÇÃO DE EXCLUSÃO DE JOGADOR*/
.modal {
    display: none;

    background: radial-gradient(circle at center, rgb(158, 158, 158), rgb(221, 221, 221));

    position: absolute;
    top: 9vw;

    width: 50vw;
    padding-bottom: 1.5vw;
    border: solid 0.1vw;
    border-radius: 0.5vw;

    z-index: 2;
}

    .class-botoesSimNao {
        display: flex;

        justify-content: space-evenly;

        width: 100%;
    }

        .modal-button {
            width: 10vw;
            border-radius: 0.5vw;
            border: solid 0.1vw;

            font-family: 'Oswald', sans-serif;
            font-size: 2vw;

            cursor: pointer;
        }
            .modal-button:hover {
                background-color: hsl(0, 0%, 87%);
            }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(179, 179, 179, 0.7); /* Cor acinzentada semi-transparente */
    z-index: 1; /* Coloque-o em cima de todos os elementos da página, exceto o modal */
    cursor: not-allowed; /* Altera o cursor para "não permitido" para indicar que está desativado */
}



/*MODAL DE MUDANÇA DE POSIÇÃO*/
#id-position-select {
    max-width: 10vw;

    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    cursor: pointer;
}
    #id-position-select:hover {
        background-color: #d5d5d5;
    }










/*A PARTIR DAQUI, A LÓGICA BÁSICA DA TABELA ESTÁ FEITA. AGORA HAVERÃO AS ALTERAÇÕES DA TABELA DE ACORDO COM AS TEMPORADAS PASSANDO.*/

/*MODAL DE FINALIZAR A TEMPORADA*/
#id-modalFinalizarTemporada {
    display: flex;
    flex-direction: column;

    
    
    background: radial-gradient(circle at center, gray, rgb(221, 221, 221));

    align-items: center;
    justify-content: center;
    align-items: baseline;
    justify-content: space-evenly;
    

    width: 90vw;
    border-radius: 1vw;
    padding: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;

    text-align: center;
}

    .class-linhasGerais {
        justify-content: space-evenly;

        width: 100%;

        padding-bottom: 3vw;
        margin-bottom: 3vw;
        border-bottom: solid black 0.1vw;
    }

    .class-divisaoQuadrados {
        display: flex;
        flex-direction: row;

        width: 100%;

        justify-content: space-evenly;

        text-align: center;
    }

        /*JOGADORES SUB-23 MAIS SURPREENDETES*/
        .class-categoriaTabelaOVR {
            width: 25vw;

            justify-content: center;
            align-items: center;

            text-align: center;
        }

            .class-tituloCategoria {
                background: linear-gradient(to right, #244397, #2574b1);

                margin: 0;
                border-radius: 0.5vw;
                padding: 0.7vw;

                font-size: 1.7vw;
                font-weight: bold;
            }

            .class-descriçaoCategoria {
                margin: 0;
                margin-top: 0.5vw;

                font-size: 1vw;
            }

            .class-subtituloCategoria {
                background-color: gray;

                width: 25vw;

                margin: 0;
                margin-top: 2vw;
                border-radius: 0.2vw;
                padding: 0.2vw;

                font-size: 1.3vw;
                font-weight: bold;
                text-align: center;
            }

            .class-seleçaoJogadorLista {
                display: flex;
                flex-direction: row;

                justify-content: center;

                margin-top: 1vw;
            }

                .class-selectAdicionarJogadorLista {
                    font-family: 'Oswald', sans-serif;
                    text-align: center;
                    font-size: 1vw;

                    width: 10vw;

                    margin-right: 5%;

                    cursor: pointer;
                }

                .class-botaoAdicionarJogadorLista {
                    font-family: 'Oswald', sans-serif;
                    text-align: center;
                    font-size: 1vw;

                    margin-left: 5%;

                    cursor: pointer;
                }

            .class-listaJogadoresSelecionados {
                list-style-type: none;

                display: inline-block;
                flex-direction: column;

                background-color: gold;

                align-items: center;
                justify-content: center;

                width: 70%;

                padding: 0;
                margin: 0;
                margin-top: 0.5vw;

                font-size: 1vw;
                font-weight: bold;
                text-align: center;
            }


        /*MELHOR DEFESA DO TORNEIO*/
            .class-tituloCategoriaMD {
                background: linear-gradient(to right, green, rgb(46, 175, 46));

                margin: 0;
                border-radius: 0.5vw;
                padding: 0.7vw;

                font-size: 1.7vw;
                font-weight: bold;
            }


    /*BOTÃO DE FINALIZAR A TEMPORADA*/
    #id-botaoBModalFinalizarTemporada {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 2vw;

        border-radius: 0.5vw;
        border: 0;
        padding: 0.5vw;

        cursor: pointer;
    }
        #id-botaoBModalFinalizarTemporada:hover {
            background: linear-gradient(to right, #244397, #3891d4);
        }

    #id-divConfirmacaoFinalizarTemporada {
        display: flex;
        flex-direction: column;

        justify-content: center;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        margin-top: 1vw;

        text-align: center;
    }

        #id-mensagemConfirmaçaoFinalizarTemporada {
            width: 40vw;

            margin: 0;
            margin-bottom: 1vw;

            font-size: 2vw;
            text-align: center;
        }

        #id-divSimNaoFinalizarTemporada {
            display: flex;
            flex-direction: row;

            width: 30vw;
    
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
        }

            .botaoFadeIn {
                font-family: 'Oswald', sans-serif;
                text-align: center;
                font-size: 2vw;

                cursor: pointer;

                opacity: 0;
            }
                .botaoFadeIn.visible {
                    opacity: 1;
                    transition: opacity 1s ease-in-out;

                    border-radius: 0.5vw;
                    border: 0;
                    padding-left: 1vw;
                    padding-right: 1vw;
                }

                #id-botaoModalFinalizarTemporada:hover {
                    background: linear-gradient(to left, #a3a3a3, hwb(0 55% 45%));
                }

                #id-botaoModalNaoFinalizarTemporada:hover {
                    background: linear-gradient(to left, #a3a3a3, hwb(0 55% 45%));
                }





#id-botaoAbrirModalFinalizarTemporada {
    background: linear-gradient(to right, #244397, #2574b1);
    color: white;

    margin: 3vw;
    border: 0;
    padding: 0.7vw;
    border-radius: 0.5vw;

    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;

    cursor: not-allowed;
}
    #id-botaoAbrirModalFinalizarTemporada:hover {
        background: linear-gradient(to right, #2574b1, #53adf2);
    }

#id-avisoModalFinalizarTemporada {
    background: radial-gradient(circle at center, rgb(227, 205, 8), rgb(224, 224, 13));

    width: 63vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin: 0;
    margin-bottom: 5vw;

    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}


.class-modalFinalizarTemporada {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-bottom: 3vw;

    text-align: center;

    opacity: 0;
}
    .class-modalFinalizarTemporada.visible {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 5vw;

        align-items: center;
        justify-content: center;

        text-align: center;

        opacity: 1;
        transition: opacity 2s ease-in-out;
    }



/*SALVAMENTO DE ALTERAÇÕES*/
.salvamento {
    background-color: rgb(243, 208, 9);
    width: 15vw;
    border-radius: 0.3vw;
    border: 0;
    margin-top: 2vw;

    font-size: 1.3vw;
    font-family: 'Oswald', sans-serif;

    cursor: pointer;
}
    .salvamento:hover {
        background-color: rgb(234, 234, 0);
    }

.salvamento-c {
    background-color: rgb(199, 199, 199);
    width: 10vw;
    border-radius: 0.3vw;
    border: 0;

    font-size: 1.2vw;
    font-family: 'Oswald', sans-serif;

    cursor: pointer;
}
    .salvamento-c:hover {
        background-color: rgb(163, 163, 163);
    }

.divSimNaoSalvar {
    display: flex;

    justify-content: center;
    justify-content: space-evenly;
}

.tituloSimNaoSalvar {
    font-size: 1.3vw;
}